<div fxFlexFill class="mat-typography mat-app-background">
    <div fxLayout="column" fxFlexFill fxLayoutAlign="center center">
        <div fxFlex="0 0 auto" fxLayout="row">
            <pa-user-score [userScore]="this.user1"></pa-user-score>
            <h2>&nbsp;&nbsp;-&nbsp;&nbsp;</h2>
            <pa-user-score [userScore]="this.user2"></pa-user-score>
        </div>
        <div fxFlex="0 0 auto" fxLayout="column">
            <pa-game-score></pa-game-score>
        </div>
        <div fxFlex fxFlexFill>
            <pa-add-score fxLayout="column" fxFlex></pa-add-score>
            <!-- <div fxLayout="column" fxFlex style="background: pink">ITEM</div> -->
        </div>
    </div>
</div>